@charset "UTF-8";
body {
  background: linear-gradient(to bottom, #ffffcc 0%, #ffcccc 100%);
  overflow-x: hidden; }

* {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px; }

a {
  text-decoration: none;
  color: #5f7799; }

.map {
  width: 350px; }

.hover:hover {
  filter: none; }

.hover {
  filter: grayscale(100%);
  transition: all 2s; }

.bordes {
  border-radius: 5px; }

.img1-2 {
  width: 370px;
  height: 362px; }

.img1-3 {
  height: 342px; }

.img1-4 {
  width: 360px;
  height: 232px; }

.nav__checkbox {
  display: none; }

.nav__toggle {
  cursor: pointer;
  margin: .8rem 1rem;
  position: absolute;
  right: 0; }

.nav__toggle svg {
  fill: #cc0066;
  width: 1.6rem; }

.nav__toggle .close {
  display: none; }

.nav__toggle .close,
.nav__toggle .menu {
  margin-top: .3rem; }

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem; }

.nav__menu li {
  list-style-type: none;
  display: none; }

.nav__menu li:first-child {
  margin-right: auto;
  display: block; }

.menu__logo {
  height: 60px; }

.menu__logo img {
  height: 100%; }

.nav__menu a {
  text-decoration: none;
  color: #5f7799;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600px; }

a:hover {
  color: rgba(119, 0, 255, 0.616);
  text-shadow: 1px 1px 2px pink;
  transition: all .1s; }

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block; }

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block; }

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none; }

.contenedorPadre {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 99%;
  grid-template-rows: auto auto auto; }

.grid_header {
  grid-area: header; }

.grid_main {
  grid-area: main; }

.grid_footer {
  grid-area: footer; }

.grid_main {
  display: grid;
  justify-content: center;
  /*horizontal*/
  align-content: center;
  /*vertical*/ }

@media screen and (min-width: 360px) and (max-width: 768px) {
  .imgMedia {
    width: 100%; }
  .contenedorPadre {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 99%;
    grid-template-rows: auto auto auto; }
  .grid_header {
    grid-area: header; }
  .grid_main {
    grid-area: main; }
  .grid_footer {
    grid-area: footer; }
  .menu {
    display: flex;
    flex-wrap: wrap; } }

.titulo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
  color: #cc0066;
  text-decoration: #9db4d4 underline; }

.menu {
  display: flex;
  list-style-type: none;
  font-size: 35px;
  margin-top: 2px; }

ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none; }

.contenedorFooter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0%; }

.copyright {
  text-align: center;
  font-size: 20px; }

.formul {
  text-align: center;
  font-size: 20px; }

#comentario {
  width: 31%;
  margin: 0px;
  font-size: 25px;
  background-color: white; }

.entrada_texto {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  height: 100%;
  width: 15%;
  background-color: white; }

.imagenInicio {
  width: 100%;
  text-align: center; }

.tamañoImg {
  width: 100%;
  text-align: center; }

.mapa {
  width: 100%;
  height: auto;
  text-align: center; }

.diam {
  width: auto;
  height: 45px; }

.img1-1 {
  width: 350px;
  height: auto; }

.formulario {
  width: 1000px;
  height: auto;
  margin-top: 70px; }

.botones, .boton_enviar, .boton_clear {
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px; }

.boton_enviar {
  background-color: #7db6ebb6; }

.boton_clear {
  background-color: #a9b9b9cb; }

.bg-gradi {
  background-color: linear-gradient(to bottom, #ffffcc 0%, #ffcccc 100%); }

#precio {
  background-color: pink; }

.letras {
  color: white; }

.letras2 {
  color: black;
  font-size: 20px; }

.nav-link {
  font-size: 35px;
  word-spacing: 150px; }

#menuL {
  color: #5f7799;
  font-size: 175%; }

#bg-c {
  background-color: #bb695b;
  width: auto;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center; }

.img {
  width: 250px; }

.img-2 {
  width: 350px;
  margin-bottom: 70px; }
